{% extends "masterLayout.twig" %}

{% block title %}Register{% endblock %}

{% block titlePage %}Register{% endblock %}


{% block content %}
    <form action="{{ path('register') }}" method="POST">
        <fieldset>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </fieldset>

        <fieldset class="form-actions">
            <input type="submit" value="Login" />
        </fieldset>
    </form>
{% endblock %}
